@import url('https://fonts.googleapis.com/css?family=Be Vietnam Pro');

.about{
    width:100%;
    height: 100vh;
    font-family: 'Be Vietnam Pro', sans-serif;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutCont{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    display: flex;
    color: azure;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);

}