.imgContainer {
  display: flex;
  justify-content: space-between;
    overflow-x: hidden;

}

.imageColumn {
  width: 45%;
}

.explanationColumn {
  width: 100%;
  padding-right: 2rem;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.bgImage {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.apod-article {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.explanation {
  font-size: 16px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  border-left: 1px solid #ccc;
  padding: 20px;
}

.sidebarContents {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.descriptionContainer {
  margin-top: 20px;
}

.descriptionTitle {
  font-weight: bold;
}

.dateTitle {
  font-size: 14px;
  color: #777;
}
.imagecont {
  padding-top: 2rem !important;
  padding: 1rem;
  width: 100vw; /* Set width to 100% of viewport width */
  height: 100vh;
}

