@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
}
body{
  font-family: "Quicksand", sans-serif; /* Specify font-weight here if necessary */
  color: #1919e1;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #403e3e; /* Example background color */
  color: #ffffff; 
}
.navbar h2 {
  color: #ffffff; 
}
.links {
  margin-left: auto;
  color: #ffffff; 
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #ffffff; 
}
.navbar a:hover {
  color: #07b5f4;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}